biopython==1.83
metapub==0.5.5
nltk==3.8.1
openai==1.13.3
python_dotenv==1.0.1
rich==13.7.1
rich-argparse==1.4.0
scidownl
sentence-transformers==2.5.1
streamlit==1.32.2
textract
pdftotext
torch==2.2.1
httpx[socks]==0.27.0
